
/*give darkmagenta color to all paragraphs of web application*/
/*give textdecoation underline to all p */
/*ele sel*/
/*1st and last paragraph of contact page should have background color*/
p{
    color: darkmagenta;
    text-decoration: underline !important;
}
/*make 1st paragraph all letter capital on all web pages */
/*give  textdecoation overline to 1st paragraph*/
.first{
    text-transform: uppercase;
    text-decoration: overline;
}

/*1st paragraph of contact page should have border*/
/*give  textdecoation throughline to 1st paragraph on contact page*/
#firstoncontact{
    border: 2px solid;
    text-decoration: line-through;
}

.bgcol{
    background-color: rgb(239, 239, 92);
}
/*set textcolor to tags having attribute type*/
[type]{
    color: darkorange;
}
/*set border to inputfields having attribute type*/
input[type]{
    border: 5px blue solid;
}
/*set dimensions to email field*/
input[type='email']{
    width: 200px;
    height: 30px;
}
/*precedence,
!important*/

/*attribute selector  and class selector have same precedence if
[attribute],[attribute=value] .  */

/*attribute selector has more precedence than class selector if
ele[], . */

/* [attribute], [attribute and value ] both have same precedence*/
.messages{
    background-color: lightgreen ;
} 

[type='A']{
    background-color: lightblue;
}

[type]{
    background-color: lightpink;
}



.topnavbar{
    background-color: black;
}
.topnavbar li{
    display: inline-block;
    padding: 15px;
}
.topnavbar a{
    color: white;
    text-decoration: none;
}
.topnavbar a:link{
    color: cadetblue;
}
.topnavbar a:visited{
    color: green;
}
.topnavbar a:hover{
   background-color: aqua;
}
/*when u click on the link*/
.topnavbar a:active{
    background-color: hotpink;
}
.activeLink{
    background-color: chocolate;
    font-size: 20px;
}